/*Sccs variables, we can also get them inside a _variables and import them*/
$primary:red;
$secondary:white;
$third:black;
//maps:
$font-weights:(
   "regular":400,
   "medium":500,
   "bold":700,
);
$mobile:800px; 
