//Patial scss files: this will automaitcally import all the code from _resets and wil be compiled into the main.css 
@import './resets';
@import './variables';
/* 
css variables 
:root{
   --primary:#000;
} */
/*Sccs variables, we can also get them inside a _variables and import them*/

//scss functions we can 
@function weight($weight-name){
   @return map-get($font-weights , $weight-name ) 
}

body{
   background-color: $primary;
   font-weight: map-get($font-weights,bold );
}
//Nesting with sass: you can have varois elements nested bwtween
.main{
   width: 80%;
   margin:0 auto;
   #{&}-paragraph{
      color:$secondary;
      font-weight: map-get($font-weights , regular );
      //we can also use a function to the the font-weight: 
      font-weight: weight(bold);
      &:hover{
         color:black;
      }
   }
}